* {
    box-sizing: border-box;
}
#container{
    background-color: lightcoral;
    width: 500px;
    height: 100px;
    position: relative;
}

#box{
    background-color: lightyellow;
    width: 100px;
    height: 100px;
    border: lightblue 10px solid;
    position: absolute;
    left: 400px;
}